In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import warnings as wn
wn.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
import pickle

In [2]:
raw_liver=pd.read_csv("Indian Liver Patient Dataset (ILPD).csv")

In [4]:
raw_liver.columns=['Age','Gender','Total_Bilirubin','Direct_Bilirubin','Alkaline_Phosphotase','Alamine_Aminotransferase','Aspartate_Aminotransferase','Total_Protiens','Albumin','Albumin_and_Globulin_Ratio','Target']

In [6]:
col=['Age', 'Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase',
       'Alamine_Aminotransferase', 'Aspartate_Aminotransferase',
       'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Gender']
data=pd.DataFrame()
for x in col:
    data[x]=raw_liver[x]

In [7]:
data

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Gender
0,62,10.9,5.5,699,64,100,7.5,3.2,0.74,Male
1,62,7.3,4.1,490,60,68,7.0,3.3,0.89,Male
2,58,1.0,0.4,182,14,20,6.8,3.4,1.00,Male
3,72,3.9,2.0,195,27,59,7.3,2.4,0.40,Male
4,46,1.8,0.7,208,19,14,7.6,4.4,1.30,Male
...,...,...,...,...,...,...,...,...,...,...
577,60,0.5,0.1,500,20,34,5.9,1.6,0.37,Male
578,40,0.6,0.1,98,35,31,6.0,3.2,1.10,Male
579,52,0.8,0.2,245,48,49,6.4,3.2,1.00,Male
580,31,1.3,0.5,184,29,32,6.8,3.4,1.00,Male
581,38,1.0,0.3,216,21,24,7.3,4.4,1.50,Male

In [9]:
NAN_replace(data,'Albumin_and_Globulin_Ratio','median')

In [8]:
def NAN_replace(df,column_name,x):
    #x=mean,median,mode,random,nan_binary,end_distribution
    if x=='mean':
        df[column_name+'_'+x+'_replaced']=df[column_name]
        df[column_name+'_'+x+'_replaced']=df[column_name+'_'+x+'_replaced'].replace(to_replace=np.nan,value=df[column_name].mean(),inplace=False)
    if x=='median':
        df[column_name+'_'+x+'_replaced']=df[column_name]
        df[column_name+'_'+x+'_replaced']=df[column_name+'_'+x+'_replaced'].replace(to_replace=np.nan,value=df[column_name].median(),inplace=False)
    if x=='mode':
        df[column_name+'_'+x+'_replaced']=df[column_name]
        df[column_name+'_'+x+'_replaced']=df[column_name+'_'+x+'_replaced'].replace(to_replace=np.nan,value=df[column_name].mode(),inplace=False)
    if x=='random':
        df[column_name+'_random'] = df[column_name]  
        random_sample = df[column_name].dropna().sample(df[column_name].isnull().sum(), random_state=0)  
        random_sample.index = df[df['Age'].isnull()].index  
        df.loc[df2[column_name].isnull(), column_name+'_random'] = random_sample 
    if x=='nan_binary':
        df[column_name+'_nan_binary']=np.where(d[column_name].isnull(),1,0)
    if x=='end_distribution':
        df[column_name+'_end _distribution']=df[column_name].fillna(df[column_name].mean()+3*df3[column_name].std())

In [10]:
data['Gender']=data['Gender'].replace({'Male':1,'Female':0})

In [13]:
data.drop(columns='Albumin_and_Globulin_Ratio',inplace=True)

In [14]:
data

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Gender,Albumin_and_Globulin_Ratio_median_replaced
0,62,10.9,5.5,699,64,100,7.5,3.2,1,0.74
1,62,7.3,4.1,490,60,68,7.0,3.3,1,0.89
2,58,1.0,0.4,182,14,20,6.8,3.4,1,1.00
3,72,3.9,2.0,195,27,59,7.3,2.4,1,0.40
4,46,1.8,0.7,208,19,14,7.6,4.4,1,1.30
...,...,...,...,...,...,...,...,...,...,...
577,60,0.5,0.1,500,20,34,5.9,1.6,1,0.37
578,40,0.6,0.1,98,35,31,6.0,3.2,1,1.10
579,52,0.8,0.2,245,48,49,6.4,3.2,1,1.00
580,31,1.3,0.5,184,29,32,6.8,3.4,1,1.00
581,38,1.0,0.3,216,21,24,7.3,4.4,1,1.50